@model QuanLy.Models.Student

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">HoTen</dt>
        <dd class="col-sm-10">@Model.HoTen</dd>

        <dt class="col-sm-2">GioiTinh</dt>
        <dd class="col-sm-10">@(Model.GioiTinh ? "Nam" : "Nữ")</dd>

        <dt class="col-sm-2">Tuoi</dt>
        <dd class="col-sm-10">@Model.Tuoi</dd>

        <dt class="col-sm-2">NgaySinh</dt>
        <dd class="col-sm-10">@Model.NgaySinh</dd>

        <dt class="col-sm-2">Luong</dt>
        <dd class="col-sm-10">@Model.Luong</dd>
    </dl>
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
